<%= render partial: "calcpart" %><br/><br/>

<%= @arr %>

&nbsp;<font size="-1"><a href="/calculator/subtraction">Subtraction</a> | <a href="/calculator/multiplication">Multiplication</a> | <a href="/calculator/division">Division</a></font>