<%= render "form" %>

&nbsp;<font size="-1"><a href="/calculator/addition">Addition</a> | <a href="/calculator/subtraction">Subtraction</a> | <a href="/calculator/multiplication">Multiplication</a></font>